:root {
	--blue-600: #0284c7;
	--blue-700: #0369a1;
	--white: #f0f9ff;
	--yellow: #f59e0b;
}
body {
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr 5fr;
}
.sidebar {
	grid-column: 1 / 2;
}
.main-content {
	grid-column: 2 / -1;
	display: grid;
	grid-template-rows: 1fr 6fr;
}
